<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/404.css">
    <title>404 - Page Not Found</title>
</head>
<body>
    <div class="container">
        <div class="error-text">
            <h1>404</h1>
            <p>Oops! The page you are looking for could not be found.</p>
            <a href="/">Go Back Home</a>
        </div>
        <div class="green-background"></div>
    </div>
</body>
</html>
