body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.hidden{
    display: none;
}

.container {
    
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    width:95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    display: block;
    width:100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color:#00892F;;
    color: #fff;
    border: none;
    cursor: pointer;
}

a {
    color: #00892F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
